<!doctype html>
<html lang="en">
<head>
        <meta charset="utf-8">
        <title>Edit Recipe</title>
        <link rel="stylesheet" href="/static/style.css?v=max-time-filter-1">
        <link rel="stylesheet" href="/static/edit_my_recipe.css">
        <script src="https://unpkg.com/htmx.org@1.9.12"></script>
</head>
<body>
{{template "nav" .}}
<div class="edit-recipe-page">

    <div class= "save-recipe-button">
        <a href="/recipes/v1/myRecipe">Cancel</a>
        <form method="POST" action="/recipes/v1/save-recipe/{{.RecipeID}}">
            <button type="submit">Save</button>
        </form>
    </div>
    <div class="basic-recipe-information">
        <p>Basic Information</p>
        <div class="recipe-info"> 
        </div>
    </div>
</div>

</body>

</html>