<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Home</title>
</head>
<body>
{{ if .Username }}
<!--  Add navigation bar ? -->
<p>Hello, {{ .Username }}!</p>


<a href="/recipes/v1/new">
    <button>Create a recipe</button>
</a>
<!-- clicking this link well lead to the user recipes. -->
<a href="/recipes/v1/myRecipe">
    <button>My recipes</button>
</a>

<a href="/users/v1/logout">Logout</a>

{{ else }}
  <p>Not logged in</p>
  <a href="/users/v1/login">Login</a> | <a href="/users/v1/register">Register</a>
{{ end }}

</body>
</html>