<!doctype html>
<html lang="en">
<head>
        <meta charset="utf-8">
        <title>Home</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        {{template "nav" .}}
        <main class="container">
            <section class="recipes">
                <h2>
                    {{ if .Query }}
                        Results for "{{ .Query }}"
                    {{ else }}
                        My Recipes
                    {{ end }}
                </h2>
                {{ if .Recipes }}
                <div class="recipe-grid">
                    {{ range .Recipes }}
                        <div class="recipe-card">
                            <img src="{{if .ImageURL}}{{.ImageURL}}{{else}}/static/placeholder.svg{{end}}" alt="{{.Title}}">
                            <div class="recipe-info">
                                <h3>{{ .Title }}</h3>
                                <p>{{ .Description }}</p>
                                <a href="/recipes/v1/{{ .ID }}">View Recipe</a>
                            </div>
                        </div>
                    {{ else }}
                        <p>No recipes found.</p>
                    {{ end }}
                </div>
                {{ else }}
                <p>You haven't created any recipes yet. <a href="/recipes/v1/new">Create one!</a></p>

                {{ end }}
            </section>
        </main>
    </body>
</html>
