<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Recipe</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header class="navbar">
            <div class="nav-left">
                <div class="logo">Jacob's Grub</div>
            </div>
            <div class="nav-center">
                <form method="GET" action="/" class="search-form">
                    <input type="text" name="query" placeholder="Search recipes..."value="{{.Query}}">
                </form>
            </div>
            <div class="nav-right">
                {{ if .Username }}
                    <span class="welcome">Hello, {{ .Username }}</span>
                    <a href="/recipes/v1/new">Create Recipe</a>
                    <a href="/recipes/v1/myRecipe">My Recipes</a>
                    <a href="/users/v1/logout">Logout</a>
                {{ else }}
                    <a href="/users/v1/login">Login</a>
                    <a href="/users/v1/register">Register</a>
                {{ end }}
            </div>
        </header>

<div class="card">
    <div class="card-header">
        <h2>New Recipe</h2>
    </div>

    <form action="/recipes/v1/new" method="POST" enctype="multipart/form-data">
        <div class="card-body">

            <div class="field">
                <label for="title">Title</label>
                <input type="text" id="title" name="title" required
                       placeholder="e.g Chicken Pasta" value="{{ .Title }}">
            </div>

            <div class="field">
                <label for="myfile">Image</label>
                <input type="file" id="myfile" name="myfile"
                       accept="image/jpeg,image/png">
            </div>

            <div class="field">
                <label for="description">Description</label>
                <textarea id="description" name="description"
                          placeholder="Describe the dish (optional)">{{ .Description }}</textarea>
            </div>

            <div class="field">
                <label for="servings">Servings</label>
                <input type="number" id="servings" name="servings" min="1"
                       placeholder="e.g. 4" value="{{ .Servings }}">
            </div>

            <div class="field">
                <label for="prep_time_minutes">Prep time (minutes)</label>
                <input type="number" id="prep_time_minutes" name="prep_time_minutes" min="0"
                       placeholder="e.g. 30" value="{{ .PrepTime }}">
            </div>

        </div>

        <div class="card-footer">
            <button type="submit">Next</button>
        </div>
    </form>
</div>

</body>
</html>